bin/
obj/
/packages/
riderModule.iml
/_ReSharper.Caches/
/.idea/
/.vs/
/Demo/Demo.WPF/.vs/
/Demo/Demo.WinForms/.vs/
/Demo/Demo.Shared/.vs/
/Libraries/GuiHelpers.WPF/.vs/
/WinForms/GuiHelpers.Demo/.vs/
/Libraries/GuiHelpers.WinForms/.vs/
/Libraries/GuiHelpers.Logic/.vs/
/Libraries/GuiHelpers.Abstractions/.vs/
/GuiHelpers.sln.DotSettings.user
/WinForms/Demo.WinForms/.vs/